<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8" />
    <title>Resume</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div>
<div class="container">
<div class="row">
    <div class="col-md-12">
                 <!-- Begin Image -->
        <div class="col-md-2">
                    <img class="persoimg" src="image/ahmed.png" alt="Ahmed Zaied" />
                    <!-- End Image -->
        </div>
        <div class="col-md-3">
                    <!-- Begin Personal Information -->
                    <div class="personal">
                        <h1>Ahmed Zaied <br />
                            <span>Information Architect</span></h1>
                        <ul>
                            <li class="ad">Fairfax, VA 22031</li>
                            <li class="mail">azaied7550@gmail.com</li>
                            <li class="tel">571-000-0000</li>
                            <li class="web">www.mywebsite.mine</li>

                        </ul>
                    </div>
                    <!-- End Personal Information -->
        </div>
        <div class="col-md-7">


                    <div class="contact">
                        <ul>
                            <li><a class='north' href="#" title="Download .pdf"><img src="image/save.jpg" alt="Download pdf" /></a></li>
                            <li><a class='north' href="#" title="Print"><img src="image/print.jpg" alt="" /></a></li>
                            <li><a class='north' id="contact" href="#" title="Contact Me"><img src="image/email.jpg" alt="" /></a></li>
                            <li><a class='north' href="#" title="Follow me on Twitter"><img src="image/twitter.jpg" alt="" /></a></li>
                            <li><a class='north' href="#" title="My Facebook Profile"><img src="image/facebook.jpg" alt="" /></a></li>
                            <li><a class='north' href="https://github.com/azaied7550" target="_blank" title="My Github Repository"><img src="image/github.png" alt="" /></a></li>
                        </ul>
                    </div>

        </div>
    </div>
</div>

    <!-- Begin Objective -->
    <div class="row">
                <div class="col-md-10">
                    <br/><br/>
                    <h2 class="col-md-3">OBJECTIVE</h2>
                    <p class="col-md-8"><br>Working on switching my career to the IT field.</p>
                </div>

                <!-- Begin Education-->
                <div class="col-md-10">
                    <br/>
                    <h2 class="col-md-3">EDUCATION</h2>
                </div>
                <div class="col-md-10">
                   <h3 class="col-md-3">Sep 1998 - Jun 2001</h3>
                        <p class="col-md-7"><br/>University of Algiers, Algeria<br />
                            <em>Bachelor of Science in Information Management</em></p>
                    </div>
                    <div class="col-md-10">
                        <h3 class="col-md-3">Sep 2010 - Jun 2014</h3>
                        <p class="col-md-7"><br/>Catholic University of America, Washington, DC<br />
                        <em>Master of Science in Library  and Information Science (Information Architecture)</em></p>
                    </div>

                    <div class="col-md-10">
                        <h3 class="col-md-3">Sep 2010 - May 2018</h3>
                        <p class="col-md-7"><br/>Northern Virginia Community College, Fairfax, VA<br />
                            <em>Associate of Applied Science in Information Systems Technology</em></p>
                    </div>
                <!-- End Education-->

                <!-- Begin Experience-->
                <div class="col-md-10">
                    <br/>
                    <h2 class="col-md-3">EXPERIENCE</h2>
                </div>
                <div class="col-md-10">
                    <h3 class="col-md-3">Sep 1998 - Jan 2004</h3>
                    <div class="col-md-7"> <p><br/>University of Algiers, Algeria<br />
                        <em>Systems Librarian</em></p>
                        <ul>
                            <li>In charge of the library technology</li>
                            <li>Training of staff and interns</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <h3 class="col-md-3">Oct 2005 - Oct 2007</h3>
                    <div class="col-md-7"><p><br/>LSSI, LLC, Washington, DC<br />
                        <em>Metadata Specialist</em></p>
                        <ul>
                            <li>Update and verification of MARC and Dewey metadata</li>
                            <li>Quality control</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-10">
                    <h3 class="col-md-3">Nov 2007 - Feb 2017</h3>
                    <div class="col-md-7"><p><br/>Library of Congress, Washington, DC<br />
                        <em>Web Information Specialist</em></p>
                        <ul>
                            <li>Research and analysis</li>
                            <li>Digital imaging technology</li>
                        </ul>
                    </div>
                </div>
                <!-- End Experience-->

            <!-- Begin Skills-->
            <div class="col-md-10">
                <br/>
                <h2 class="col-md-3">SKILLS</h2>
            </div>
            <div class="col-md-10">
                <h3 class="col-md-3">Languages</h3>
                <div class="col-md-7"> <p></p>
                    <br/>
                    <ul class="col-md-3">
                        <em><li>Arabic</li></em>
                    </ul>
                    <ul class="col-md-3">
                        <em><li>French</li></em>
                    </ul>
                    <ul class="col-md-3">
                        <em><li>Spanish</li></em>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <h3 class="col-md-3">Software Knowldge</h3>
                <div class="col-md-7"> <p></p>

                    <ul class="col-md-3">
                        <em><li>Dreamweaver</li></em>
                        <em><li>SQL Server</li></em>
                    </ul>

                    <ul class="col-md-3">
                        <em><li>Photoshop</li>
                       <li>HP/ALM</li></em>
                    </ul>
                    <ul class="col-md-3">
                        <em><li>Flash</li></em>
                        <em><li>Selenium</li></em>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <h3 class="col-md-3">Programming Languages</h3>
                <div class="col-md-7"> <p></p>

                    <ul class="col-md-3">
                       <em><li>Core Java</li></em>

                    </ul>
                    <ul class="col-md-3">
                       <em><li>Pascal</li></em>
                    </ul>
                    <ul class="col-md-3">
                      <em><li>PHP</li></em>
                    </ul>
                </div>
            </div>
            <!-- End Skills-->

    </div>
   </div>

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
